* {
  box-sizing: border-box;
}

body {
  background-color: #efedd6;
  font-family: "Times New Roman", Times, serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300vh;
  margin: 0;
}

h1 {
  margin: 20px;
}

.box{
    background-color: steelblue;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 400px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 4px 5px rgba(0,0,0,0.3);
    transform: translateX(100%);
    transition: transform 0.4s ease; 

}

.box:nth-of-type(even){
    transform: translateX(-600%);

}

.box h2{
    font-size: 45px;
}

.box.show{
    transform: translateX(0);
}